---
BasedOnStyle: WebKit
Standard: Cpp11
ColumnLimit: 120
AlignEscapedNewlines: Left
ConstructorInitializerAllOnOneLineOrOnePerLine: false
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 4
ReflowComments: false
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterControlStatement: false
    AfterEnum: false
    AfterFunction: true
    AfterNamespace: false
    AfterObjCDeclaration: false
    AfterStruct: true
    AfterUnion: true
    BeforeCatch: false
    BeforeElse: false
    IndentBraces: false
    SplitEmptyRecord: true
    SplitEmptyNamespace: true
...
